.order-item {
  display: flex;
  align-items: center;

  gap: 18px;

  padding: 14px 0;
}

.order-item-image {
  width: 82px;
  height: 82px;

  flex-shrink: 0;

  overflow: hidden;

  border-radius: 16px;

  background: #f4f2ed;
}

.order-item-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

.order-item-info {
  flex: 1;
}

.order-item-info h4 {
  margin: 0 0 7px;

  font-size: 15px;
  font-weight: 500;
}

.order-item-info p {
  margin: 0;

  font-size: 12px;

  opacity: 0.5;
}

.order-item-price {
  font-size: 14px;
  font-weight: 600;
}

