.orders-page {
  min-height: 100vh;

  background: #faf9f5;

  color: #17231c;
}

.orders-main {
  min-height: 70vh;

  padding-bottom: 100px;
}

.orders-list {
  max-width: 1200px;

  margin: 0 auto;

  padding: 35px 24px 0;

  display: flex;
  flex-direction: column;

  gap: 18px;
}

@media (max-width: 768px) {

  .orders-header {
    padding-top: 60px;

    align-items: flex-start;

    flex-direction: column;
  }

  .orders-header-count {
    width: 100%;
    box-sizing: border-box;
  }

  .order-filters {
    align-items: flex-start;
    flex-direction: column;
  }

  .orders-sort {
    width: 100%;

    justify-content: space-between;
  }

  .order-card {
    padding: 20px;

    border-radius: 18px;
  }

  .order-card-top {
    gap: 15px;

    flex-direction: column;
  }

  .order-status {
    align-self: flex-start;
  }

  .order-card-bottom {
    align-items: flex-start;

    gap: 20px;

    flex-direction: column;
  }

  .order-details-btn {
    width: 100%;

    justify-content: center;

    box-sizing: border-box;
  }

}

@media (max-width: 480px) {

  .orders-header h1 {
    font-size: 3rem;
  }

  .order-item-image {
    width: 65px;
    height: 65px;
  }

  .order-item-price {
    font-size: 0.8125rem;
  }

}

